* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #337ab7;
}

/* Header Styles */
header {
  background-color: #6CB4EE;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

#a {
  color: #fff;
}

#a:hover {
  color: red;
}
/* Main saction*/
main {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 2em;
}

section {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #337ab7;
}

/* Home Section Styles */
#home {
  text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
     animation: home-appearance 2s ease-in-out forwards;
}
#home h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
#learnmore {
  color: #333;
  }
#learnmore:hover {
  background-color: #444;
  color: white;
}
@keyframes home-appearance {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#photo {
  width: 150px;
  height: 240px;
  align-self: center;
  position: relative;
  background-image: url(sassuke.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: sasuke-appearance 2s ease-in-out forwards;
}

@keyframes sasuke-appearance {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
  
}
#photo:hover {
  width: 175px;
  height: 280px;
}
#learnmore {
  color: #333;
  }

/* About Section Styles */
#about {
  background-color: #fff;
  animation: about-appearance 2s ease-in-out forwards;
  }
#about ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#about li {
  margin-bottom: 10px;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}
@keyframes about-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Gallery Section Styles */
#gallery {
background-color: #fff;
animation: gallery-appearance 2s ease-in-out forwards;
}
@keyframes gallery-appearance {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#gallery1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap,wrap-reverse;
  justify-content: center;
}

.gallery {
  margin: 10px;
}

.image {
  width: 200px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  }

.image:hover {
 transform: scale(1.1); 
 }

#image1:hover {
  width: 660px;/*ratio of w:h is 16:9 */
  height: 372px;
  z-index: 2;
  }

#image2:hover {
  width: 660px;/*ratio of w:h is 16:9 */
    height: 372px;
    z-index: 2;
}

#image3:hover {
  width: 660px;/*ratio of w:h is 16:9 */
  height: 372px;
  z-index: 2;
}



#gallery  {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Techniques Section Styles */

#techniques {
display: flex;
width: 75%;
flex-direction: column;
text-align: center;
align-content: center;
background-color: #fff;
animation: techniques-appearance 2s ease-in-out forwards;
}

.technique {
margin: 20px;
}

.technique img {
object-fit: cover;
border-radius: 100%;
width: 350px;
height: 210px;
position: relative;
margin: 5%;
}
@keyframes techniques-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#sharingan {
animation: sharingan 5s infinite;
}

@keyframes sharingan {
0% {
  transform: scale(0.8);
  filter: brightness(0.2);
}
10% {
  transform: scale(0.9);
  filter: brightness(0.6);
}
20% {
  transform: scale(1);
  filter: brightness(1);
}
30% {
  transform: scale(1.1);
  filter: brightness(1.2);
}
40% {
  transform: scale(1.2);
  filter: brightness(1.4);
}
/*50% {
  transform: scale(1.3);
  filter: brightness(1.6);
}*/
60% {
  transform: scale(1.2);
  filter: brightness(1.6);
}
80% {
  transform: scale(1);
  filter: brightness(1.4);
}
90% {
  transform: scale(0.9);
  filter: brightness(1.2);
}
100% {
  transform: scale(0.2);
  filter: brightness(1);
}
}

#chidori {
animation: chidori 5s infinite;
}

@keyframes chidori {
0% {
  transform: translateX(0) scale(0.8);
  filter: brightness(1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
20% {
  transform: translateX(10px) scale(1);
  filter: brightness(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
40% {
  transform: translateX(20px) scale(1.2);
  filter: brightness(1.5);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}
60% {
  transform: translateX(-20px) scale(1.3);
  filter: brightness(1.7);
  box-shadow: 0 0 40px rgba(255, 255, 255, 1);
}
80% {
  transform: translateX(20px) scale(1.2);
  filter: brightness(1.4);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}
100% {
  transform: translateX(0) scale(0.8);
  filter: brightness(1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
}
#katon {
animation: katon 5s infinite;
}

@keyframes katon {
0% {
  transform: rotate(0deg);
  box-shadow: 0 0 10px #ff0000;
}
50% {
  transform: rotate(360deg);
 box-shadow: 0 0 20px #ff0000;
}
100% {
  transform: rotate(0deg);
box-shadow: 0 0 10px #ff0000;
}
}
#katon1 {
  animation-name: sasuke-flame;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes sasuke-flame {
  0% {
      transform: scale(1);
      
  }
  50% {
      transform: scale(1.1);
     
  }
  100% {
      transform: scale(1);
      
  }
}

/*#amaterasu {
animation: amaterasu 2s infinite;
}

@keyframes amaterasu {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.2);
}
100% {
  transform: scale(1);
}
}*/




/* Footer Styles */
footer {
  background-color: #6CB4EE;
  color: #fff;
  padding: 1em;
  text-align: center;
}

#footer  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  
}

.footer {
  margin-right: 20px;
}

.footer  {
  text-decoration: none;
  color: #337ab7;
}
.footer{
  color: white;
  text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#home1 {
  color: white;
  text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#home1:hover {
  color: black;
}
#naruto1:hover{
  color: yellow;
}
#kakashi1:hover{
  color: green;
}
#gara1:hover{
  color: burlywood;
}
